<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="edu.s3.qmood4j">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="[%highlight{%-5p}] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="stdout" />
        </Root>
    </Loggers>
</Configuration>